@use '@fortawesome/fontawesome-free/css/all.css';
@use 'mdb-angular-ui-kit/assets/scss/mdb.scss';

@font-face {
    font-family: "Glacial-Bold";
    src: url('../fontes/GlacialIndifference-Bold.otf');
}

@font-face {
    font-family: "Glacial-Regular";
    src: url('../fontes/GlacialIndifference-Regular.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}