.footer {
  background-color: #771C32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  width: 100%;
  height: auto;
}



.footer-logo svg {
  width: 100px;
  height: auto;
}


@media screen and (max-width: 485px) {
  .footer {
    flex-direction: column;
    padding: 20px 20px;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .informacoes p {
    gap: 15px;
    font-size: 13px;
  }
}

