.footer {
  background-color: #771C32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  width: 100%;
  height: auto;
  flex-wrap: wrap; 
}

.informacoes p {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
  font-family: 'Glacial-Regular', sans-serif;
  font-size: 14px;
  margin: 0;
}

.footer-logo svg {
  width: 100px;
  height: auto;
}


@media screen and (max-width: 485px) {
  .footer {
    flex-direction: column;
    padding: 20px 20px;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .informacoes p {
    gap: 15px;
    font-size: 13px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 30px 120px;
  }

  .informacoes p {
    font-size: 15px;
  }

  .footer-logo svg {
    width: 120px;
  }
}
